<div class="row">
    <div class="col-md-6">    
        <h6 class="text-center">Child Component</h6>
        <h6 *ngIf="childMessage1" class="text-center alert alert-danger" role="alert">{{childMessage1}}</h6>     
    </div>
    <div class="col-md-6">
        <h6 class="text-center">Child Component</h6>
        <h6 *ngIf="childMessage2" class="text-center alert alert-danger" role="alert">{{childMessage2}}</h6>     
    </div>
</div>
<button type="button" class="btn btn-primary" (click)="sendData()">Send</button>
<button type="button" class="btn btn-secondary" (click)="resetData()">Reset</button>
  